@model JdMvc.Models.InheritingPage

<div>@ViewBag.SessionInfo</div>

<div id="container">
    <div id="content">
        <div id="nav">
            <div id="menu">
                <dl>
                    <dt>设置</dt>
                    <dd><a href="/Personal/Edit">个人信息</a></dd>
                    <dd><a href="">账号安全</a></dd>
                    <dd><a href="#">我的尺码</a></dd>
                    <dd><a href="#">账号绑定</a></dd>
                    <dd><a href="/Personal/Address">收货地址</a></dd>
                    <dd><a href="#">健康档案</a></dd>
                    <dd><a href="#">分享绑定</a></dd>
                    <dd><a href="#">邮件订阅</a></dd>
                </dl>
            </div>
        </div>
        <div id="main">
            <div class="tou">
                <button type="button" id="add-btn" data-toggle="modal" data-target="#modal-form">新增收货地址</button>
                <span>您已经创建
                    <span>@ViewBag.Number</span>
                    个收获地址,最多可以创建
                    <span>25</span>
                    个
                </span>
            </div>
            <div class="zhong">
                @foreach (var item in @ViewBag.Body)
                {
                    <div class="zhong-body">
                        <div class="zhong-body-1">
                            <h3>@item.Consignee</h3>
                            <span class="zhong-body-1-address" id="@item.Id">默认地址</span>
                        </div>
                        <div class="zhong-body-2">
                            <div class="zhong-body-2-item">
                                <div class="form-group-items">
                                    <div class="form-group-items-label">
                                        <span>收货人：</span>
                                        <div class="fl">@item.Consignee</div>
                                    </div>
                                    <div class="form-group-items-label">
                                        <span>所在地区：</span>
                                        <div class="fl">@item.Area</div>
                                    </div>
                                    <div class="form-group-items-label">
                                        <span>地址：</span>
                                        <div class="fl">@item.DetailedAddress</div>
                                    </div>
                                    <div class="form-group-items-label">
                                        <span>手机：</span>
                                        <div class="fl">@item.Phone</div>
                                    </div>
                                    <div class="form-group-items-label">
                                        <span>固定电话：</span>
                                        <div class="fl">@item.FixedPhone</div>
                                    </div>
                                    <div class="form-group-items-label">
                                        <span>电子邮箱：</span>
                                        <div class="fl">@item.EmailAddress</div>
                                    </div>
                                </div>
                                <div class="zhong-body-2-item-extra">
                                    <a href="#" class="extra-moren" data-qqqqqqq="@item.Id">设为默认</a>
                                    <button id="address-edit" data-aaaaaa="@item.Id" class="modal-edit-btn" type="submit"
                                        data-toggle="modal" data-target="#modal-form">编辑</button>
                                </div>
                            </div>
                        </div>
                        <a asp-action="AddressDelect" asp-route-id="@item.Id"><button type="button" class="close"
                                aria-label="Close"><span aria-hidden="true">&times;</span></button></a>
                    </div>
                }
            </div>
            <div class="tou">
                <button type="button" id="add-btn" data-toggle="modal" data-target="#modal-form">新增收货地址</button>
                <span>您已经创建
                    <span>@ViewBag.Number</span>
                    个收获地址,最多可以创建
                    <span>25</span>
                    个
                </span>
            </div>
        </div>
    </div>
</div>
<form asp-action="AddressEdit" id="form-AddressEdit"></form>
<form asp-action="Address" id="form-Address">
<div class="modal fade" id="modal-form" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">添加收获地址</h5>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label asp-for="Consignee"></label>
                    <input asp-for="Consignee" />
                    <span asp-validation-for="Consignee" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Area"></label>
                    <span id="test" style="cursor:pointer;">选择地址</span>
                    <input asp-for="Area" type="hidden" />
                    <div class="triangle"></div>
                    <div class="neirong" id="nei"></div>
                </div>
                <div class="form-group">
                    <label asp-for="DetailedAddress"></label>
                    <input asp-for="DetailedAddress" />
                    <span asp-validation-for="DetailedAddress" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Phone"></label>
                    <input asp-for="Phone" />
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FixedPhone"></label>
                    <input asp-for="FixedPhone" />
                    <span asp-validation-for="FixedPhone" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EmailAddress"></label>
                    <input asp-for="EmailAddress" />
                    <span asp-validation-for="EmailAddress" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AddressAlias"></label>
                    <input asp-for="AddressAlias" />
                    <span asp-validation-for="AddressAlias" class="text-danger"></span>
                    <div class="ac-tip">建议填写常用名称：</div>
                    <div class="ac-con">
                        <a href="#" id="home" class="item">家里</a>
                        <a href="#" id="parentHome" class="item">父母家</a>
                        <a href="#" id="company" class="item">公司</a>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="close-btn" data-dismiss="modal">Close</button>
                <button type="button" id="Address-btn" class="btn btn-primary">保存收获地址</button>
                @* <button type="button" id="Address-btn-edit" class="btn btn-primary">保存收获地址edit</button> *@
            </div>
        </div>
    </div>
</div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <link rel="stylesheet" href="~/css/address-picker.css" />
    <link rel="stylesheet" href="../../css/address.css">
    <script src="~/js/address-picker.js" asp-append-version="true"></script>
    <script src="~/js/address.js"></script>
    
    <script>

        var data = getData();
        var address_picker;
        $(document).ready(function () {
            address_picker = new addressPicker({
            id: "test",
            level: 2,
            data: data,
            btnConfig: [{
                text: '清除数据',
                click: function () {
                    address_picker.clearSelectedData();
                    $("#test").text("选择地址");
                }
            }]
        });
        address_picker.on("click", function (e) {
            console.log(e);
            $("#test").text(address_picker.getTotalValueAsText());
        });
    });
     function getData() {
         //这里也可以用Ajax的方式去加载数据，但是代码顺序可能要调整
         return @Html.Raw(ViewBag.Data);
         //人家的示例是写死的
         //return [{"code":"1","name":"广东省","children":[{"code":"11","name":"深圳市","children":null},{"code":"12","name":"中山市","children":null}]}];
     }
      </script>
} 
